<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentações</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            max-width: 300px;
            margin: 20px;
            text-align: center;
        }

        .card img {
            max-width: 200px;
            margin: 20px auto;
        }
    </style>
</head>

<body>
    <div class="card">
        <img src="../assets/Lary2.jpeg" class="card-img-top" alt="Imagem de apresentação 1">
        <div class="card-body">
            <h5 class="card-title">Laryssa Stéfanny</h5>
            <p class="card-text">@lary.souza.05</p>
            <p class="card-text">17 Years</p>
            <p class="card-text">DS 3/3</p>
            <p class="card-text">Always with a smile on you face.</p>

            <p class="card-text"></p>
        </div>
    </div>

    <div class="card">
        <img src="../assets/Mari&Bia.jpeg" class="card-img-top" alt="Imagem de apresentação 2">
        <div class="card-body">
            <h5 class="card-title">Mariana Vieira</h5>
            <p class="card-title">Assista "Ainda da Tempo"</p>
            <p class="card-title">no teatro UOL</p>
            <p class="card-text">@eimariana_vieira</p>
            <p class="card-text">@Bia Arantes</p>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
