<form class="example-form" >

  <mat-form-field class="example-full-width">
    <mat-label>Resumo</mat-label>
    <input matInput placeholder="Ex. DNS com falha" value="">
  </mat-form-field>

	<br />

	<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Tarefa</mat-radio-button>
    <mat-radio-button value="2">bug</mat-radio-button>
  </mat-radio-group>

	<br />

  <mat-form-field>
    <mat-label>Prioridade</mat-label>
    <select matNativeControl required>
      <option value="1">Baixa</option>
      <option value="2">Media</option>
      <option value="3">Alta</option>
      <option value="4">Muito Alta</option>
    </select>
  </mat-form-field>


	<br />

	<label>Prazo final:</label>
	<input type="text">

	<br />

	<label>Descrição:</label>
	<textarea rows="4" cols="50"></textarea>

	<br />

	<button>Enviar</button>

</form>
